@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,800&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
}


/* Center stuff */
.wrapper-centered-logo-nav{
    text-align: center;
}

.wrapper-centered-content {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.logo h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: rgb(182, 0, 0);
    padding: 0;
    margin: 0;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav li {
    padding: 20px;
    display: inline;
}

.nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: rgb(116, 116, 116);
    text-decoration: none;
    transition: all ease 200ms;
}

.nav a:hover {
    color: white;
}

.message h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: rgb(82, 82, 82);
    padding: 0;
    margin: 0;
}

.message h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: rgb(82, 82, 82);
    padding: 0;
    margin: 0;
}