@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
    overflow: overlay;
}


/* Center stuff */
.wrapper-centered-logo-nav{
    text-align: center;
    margin-bottom: 50px;
}

.wrapper-centered-hv {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.wrapper-centered-h {
    margin: auto;
    width: 40%;
    text-align: center;
}

.logo h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: rgb(211, 0, 0);
    padding: 0;
    margin: 0;
    transition: color 200ms;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav li {
    padding: 20px;
    display: inline;
}

.nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: rgb(131, 131, 131);
    text-decoration: none;
    transition: color ease 200ms;
}

.nav a:hover {
    color: rgb(250, 250, 250);
}


.content h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.textblock {
    margin-top: 20px;
    margin-bottom: 20px;
}


.textblock h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(199, 199, 199);
    margin-bottom: 10px;
}

.textblock p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(158, 158, 158);
}

code {
    text-align: left;
    font-size: 16px;
    margin: 10px;
}

.link-list {
    text-align: left;
}

.link-list ul {
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.link-list li {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: rgb(131, 131, 131);
}

.link-list a {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: rgb(250, 250, 250);
    transition: color ease 140ms;
}

.link-list a:hover {
    color: rgb(211, 0, 0);
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(202, 202, 202);
    padding: 0;
    margin-bottom: 10px;
}



@media only screen and (max-width: 600px) {
    .link-list {
        width: 120%;
    }
    .link-list a {
        font-size: 20px;
    }
    .link-list li {
        font-size: 20px;
    }
}